[submodule "code-coverage/tree-sitter"]
	path = external/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "code-coverage/tree-sitter-c"]
	path = external/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "code-coverage/cpp-tree-sitter"]
	path = external/cpp-tree-sitter
	url = https://github.com/nsumner/cpp-tree-sitter.git
[submodule "external/rapidcheck"]
	path = external/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
