[submodule "code-coverage/tree-sitter"]
	path = code-coverage/tree-sitter
	url = https://github.com/tree-sitter/tree-sitter
[submodule "code-coverage/tree-sitter-c"]
	path = code-coverage/tree-sitter-c
	url = https://github.com/tree-sitter/tree-sitter-c
[submodule "code-coverage/cpp-tree-sitter"]
	path = code-coverage/cpp-tree-sitter
	url = https://github.com/nsumner/cpp-tree-sitter.git
